<a href="https://colab.research.google.com/github/J0SAL/Cropy/blob/main/notebooks/create_fertilizer_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
from math import ceil

In [7]:
crop = pd.read_csv('/content/crop_recommendation.csv')
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [8]:
crops = list(crop.label.unique())
crops

['rice',
 'maize',
 'chickpea',
 'kidneybeans',
 'pigeonpeas',
 'mothbeans',
 'mungbean',
 'blackgram',
 'lentil',
 'pomegranate',
 'banana',
 'mango',
 'grapes',
 'watermelon',
 'muskmelon',
 'apple',
 'orange',
 'papaya',
 'coconut',
 'cotton',
 'jute',
 'coffee']

In [10]:
def calcMean(crop_name):
	N = crop[crop['label'] == crop_name]['N']
	P = crop[crop['label'] == crop_name]['P']
	K = crop[crop['label'] == crop_name]['K']
	n = N.size
	meanN = ceil(sum(N)/n)
	meanP = ceil(sum(P)/n)
	meanK = ceil(sum(K)/n)
	return (meanN, meanP, meanK)

In [14]:
my_dict = {}
my_dict['Crop'] = []
my_dict['N'] = []
my_dict['P'] = []
my_dict['K'] = []
for crp in crops:
	(n,p,k)= calcMean(crp)
	my_dict['Crop'].append(crp)
	my_dict['N'].append(n)
	my_dict['P'].append(p)
	my_dict['K'].append(k)


df = pd.DataFrame.from_dict(my_dict)
df.head()

          Crop   N   P   K
0         rice  80  48  40
1        maize  78  49  20
2     chickpea  41  68  80
3  kidneybeans  21  68  21
4   pigeonpeas  21  68  21

In [15]:
df.to_csv('/content/my_fertilizers.csv', index=False)